* {
	box-sizing: border-box;
	text-decoration: none;

}

a:hover {
	/* font-style: italic; */
	
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 13%, rgba(150,110,7,1) 49%, rgba(0,0,0,1) 87%, rgba(0,0,0,1) 100%);
	-webkit-background-clip: text;
	background-color: text;
	-webkit-text-fill-color: transparent;

}
html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #87ceeb;
}

a {
	color: black;
}
